* {
    background-color: floralwhite;
  }
  
  h1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  table,
  th,
  td {
    border: 1px solid;
    padding: 8px; /* Adjust this value to your preference */
    text-align: center;
  }
  
  th {
    background-color: black;
    color: white;
  }
  
  .name.highlighted td {
    background-color: #006400;
    color: white;
  }
  
  td {
    background-color: lightcoral;
  }
  
  #filterAM,
  #filterNZ {
    background-color: green;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }
  